$blockBorderColor: rgba(255, 255, 255, 0.33) rgba(0, 0, 0, 0.15)
	rgba(0, 0, 0, 0.5) rgba(255, 255, 255, 0.2);

$blockWhite: #ffffff;
$blockYellow: #f7d308;
$blockCyan: #31c7ef;
$blockMagenta: #ad4d9c;
$blockGreen: #42b642;
$blockRed: #ef2029;
$blockBlue: #5a65ad;
$blockOrange: #ef7921;
