@use "variables";
@use "colors";

$blockBorderWidth: 5px;
$blockColors: (
	0: colors.$blockWhite,
	1: colors.$blockYellow,
	2: colors.$blockCyan,
	3: colors.$blockMagenta,
	4: colors.$blockGreen,
	5: colors.$blockRed,
	6: colors.$blockBlue,
	7: colors.$blockOrange,
);

.block {
	width: variables.$blockSize;
	height: variables.$blockSize;

	border-width: $blockBorderWidth;
	border-style: solid;
	border-color: colors.$blockBorderColor;

	@each $index, $blockColor in $blockColors {
		&.color-#{$index} {
			background-color: $blockColor;
		}
	}
}
