* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: rgba(150, 150, 150, 1);

  /* BLOCK */
  --block-size: 25px;
  --border-width: 5px;

  --border-left-color: rgba(255, 255, 255, 0.20);
  --border-top-color: rgba(255, 255, 255, 0.33);
  --border-right-color: rgba(0, 0, 0, 0.15);
  --border-bottom-color: rgba(0, 0, 0, 0.5);

  --block-color-0: #ffffff;
  --block-color-1: #f7d308;
  --block-color-2: #31c7ef;
  --block-color-3: #ad4d9c;
  --block-color-4: #42b642;
  --block-color-5: #ef2029;
  --block-color-6: #5a65ad;
  --block-color-7: #ef7921;

  --cols: 10;
  --rows: 20;

  --message-popup-bg: rgba(245, 245, 245, 0.8);

  --wrapper-border-color: #a0a0a0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Play', sans-serif;
}
